/* Article
############################################################################ */

.article{
  main > *,
  aside > *{
    max-width: var(--max-width-content);
  }

  aside{
    padding-top: var(--fluid-space-m);
    margin-top: 0;
    background-color: var(--darken);
  }

  @media screen and (width >= 60rem){
    display: flex;
    padding-right: 0;

    main, aside{
      flex-grow: 1;
      padding-right: var(--fluid-space-m);
      margin-bottom: 0;
    }

    main{
      width: 80%;
    }

    aside{
      font-size: var(--s);
      line-height: var(--lh-normal);
    }
  }
}