/* Content Blocks
############################################################################ */

.content-blocks {
  section {
    padding-bottom: 0;

    .content{
      padding-top: calc(var(--fluid-space-s) * 1);
      padding-right: var(--fluid-space-s);
    
      & > *{
        max-width: var(--max-width-content);
      }

      p:last-child{
        margin-bottom: 0;
      }
    }

    @media screen and (width >= 160ch) {
      .content{
        blockquote{
          font-size: var(--s);
          line-height: var(--lh-normal);
        }
      }
    }
  }
}
