/* Curriculum
############################################################################ */

.curriculum{

  .content{
    max-width: var(--max-width-content);
  }

  .next-term{
    th, td{
      border-top: none;
      padding-top: var(--fluid-space-s);
    }
  }



  .table-module-list{

    border-collapse:collapse;

    tr[class*=is-] td:first-child{
      padding-left: var(--half);
    }
  }
}