/* Curriculum
############################################################################ */

.curriculum{

  .content{
    max-width: var(--max-width-content);
  }

  .next-term{
    th, td{
      border-top: none;
      padding-top: var(--fluid-space-s);
    }
  }
}