/* How might we Fragen
############################################################################ */

.how-might-we{

  .question-overview{
    display: grid;
    gap: var(--fluid-space-s);
    grid-template-columns: repeat(auto-fill,minmax(var(--max-width-card),1fr));
  }

  .question{

    border-top: solid var(--border-width-l) var(--light);
    margin-left: 0;
    padding-bottom: var(--s);

    & + .insight{
      margin-top: 0;
    }

    &::before{
      content: "";
    }

    h3 + p{
      margin-top: calc(var(--m) * -1);
    }

    &.is-hidden{
      display: none;
    }
  }
}