/* Image
############################################################################ */

.image{
  h1{
    color: var(--darkest);
    font-size: var(--xl);
  }

  h2{
    color: var(--darker);
    font-size: var(--l);
    font-weight: var(--fw-medium);
  }
}