/* Insights
############################################################################ */

.insights{

  .filter-wrap{
    max-width: var(--max-width-table);
  }

  .insight-meta{
    border-top: solid var(--border-width-l) var(--darker);
    padding-top: var(--m);

    header{
      margin-bottom: var(--fluid-space-s);
    }
  }

  .filter-group{
    li{
      display: inline-block;
    }
  }

  .insight-overview{
    display: grid;
    gap: var(--fluid-space-s);
    grid-template-columns: repeat(auto-fill,minmax(var(--max-width-card),1fr));
    padding-bottom: var(--fluid-space-m);

    &.without-tags{
      .tag{
        display: none;
      }
    }
  }

  .insight{

    border-top: solid var(--border-width-l) var(--light);
    margin-left: 0;
    padding-top: var(--half);
    padding-bottom: var(--s);

    & + .insight{
      margin-top: 0;
    }

    &::before{
      content: "";
    }

    p{
      margin-bottom: var(--l);
      font-weight: var(--fw-medium);
    }

    &.is-hidden{
      display: none;
    }
  }
}