/* Job Offers
############################################################################ */

ul.job-offer-overview{
  display: grid;
  margin-bottom: var(--fluid-space-l);
  gap: var(--fluid-space-s);
  grid-template-columns: repeat(auto-fill,minmax(calc(var(--max-width-card) * 2),1fr));

  .job-offer-data{
    & + .job-offer-data{
      margin-top: 0;
    }

    padding: var(--s);
    margin-left: 0;
    background-color: var(--lightest);
    box-shadow: var(--shadow-l-light);
    transition: all var(--tr-slow);

    &:hover{
      box-shadow: var(--shadow-xl-light);
      transform: scale(1.01);
    }

    img{
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    &::before{
      display: inline;
      width: 0;
      margin-left: 0;
      content: "";
    }

    figcaption{
      li{
        margin-top: var(--quat);
        line-height: var(--lh-tight);
      }
    }
  }
}