/* Kurzbericht
############################################################################ */

.kurzbericht{
  @media screen and (width >= 120rem){
    main{
      & > *:not(h4, #page-navigation) {
        margin-left: 40ch;
      }

      h4{
        width: 38ch;
        height: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: -40ch;
      }

      h4{
        line-height: var(--lh-normal);
        text-align: right;
      }
    }

    .marginal-quote{
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 30ch;
      margin-left: -40ch;
    }
  }

}