/* Kurzbericht
############################################################################ */

.kurzbericht{

  @media screen and (min-width: 120rem){
    main{
      & > *:not(h4) {
        margin-left: 40ch;
      }

      h4{
        width: 38ch;
        height: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: -40ch;
    
      }

      h4{
        text-align: right;
        line-height: var(--lh-normal);
      }
    }
  }

}