/* Kleine Optimierungen
###########################################################################  */
.modulhandbuch{
  p + div{
    margin-top: var(--fluid-space-l);
  }

  h2{
    margin-top: var(--fluid-space-xl);
  }
}

/* Modulhandbuch -> Handlungsfelder
###########################################################################  */

.modulhandbuch{
  
  div{
    margin-bottom: var(--fluid-space-s);
  }
}