/* Modulbeschreibung
############################################################################ */

.modulbeschreibung{
  .content{
    max-width: var(--max-width-content);
  }

  h2{
    margin-bottom: var(--s);
  }

  ul + h3{
    margin-top: var(--fluid-space-s);
  }
}

/* Stammdaten
############################################################################ */

.modulbeschreibung{
  .module-core-data{
    
    &[class*=is-]{
      padding-top: var(--fluid-space-s);
      margin-bottom: var(--fluid-space-m);
    }

    dl{
  
      dt {
        display: block;
        float: left;
        min-width: 5ch;
        padding: var(--half) 0;
        font-weight: var(--fw-normal);
        color: var(--color-highlight);
  
        &::after {
          content: ":";
          display: inline-block;
          padding-right: var(--half);
        }
      }
  
      dd {
        border-bottom: solid var(--border-width-s) var(--darken);
        padding: var(--half) 0;
      }
  
    }
  }

  ul.content-meta{
    border-bottom: none;

    li{
      padding-left: var(--xs);
    }
  }
}

/* Kompetenz Tabelle
############################################################################ */

.modulbeschreibung{

  .competence-table{
    border-spacing: 0;
    width: var(--max-width-table);

    th, td{
      vertical-align: top;
      padding-left: 0;
      padding-right: 0;
    }

    th.handlungsfeld,
    th.bereich{
      width: 25%;
    }

    tbody tr td, tbody tr th{
      border-top: none;
      padding-top: 0;

      &.has-border{
        border-top: solid var(--border-width-s) var(--dark);
        padding-top: var(--s);
      }
    }
  }
}

/* Scores
############################################################################ */

.modulbeschreibung{
  .scores-and-charts{
    width: var(--max-width-table);
    
    padding-top: var(--fluid-space-l);
    padding-bottom: var(--fluid-space-l);

    @media only screen and (min-width: 42em) { 
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--fluid-space-s);
    } 
  }
}