/* Kleine Optimierungen
###########################################################################  */
.modulhandbuch{

  ul:not([class]),
  ol:not([class]) {
    li + li {
      margin-top: var(--quat);
    }
  }

}
