/* Personenliste
############################################################################ */

.people-list{
  .module-list{
    h3{
      margin-top: var(--s);
      margin-bottom: 0;
      font-size: var(--m);
    }

    ul{
      margin-top: var(--quat);
      margin-bottom: var(--quat);
    }
  }

}


