/* Personenliste
############################################################################ */

.people-list{

  .module-list{

    h3{
      font-size: var(--m);
      margin-bottom: 0;
      margin-top: var(--s);
    }

    ul{
      margin-top: var(--quat);
      margin-bottom: var(--quat);
    }
  }

}


