.card {
    background-color: var(--light);
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
  
    padding: 1rem;
    margin: 0.5rem auto;
    width: calc(100vw - 1rem);
    max-width: 1200px;
  
    border-radius: 10px;
  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }