* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: bold;
  hyphens: none;
  line-height: var(--lh-tight);
}

h1 {
  padding-top: var(--fluid-space-m);
  margin-bottom: var(--fluid-space-m);
  font-size: var(--xxl);
}

h2 {
  padding-top: var(--fluid-space-s);
  margin-bottom: var(--fluid-space-s);
  font-size: var(--xl);
  font-weight: var(--fw-medium);
}

h3 {
  padding-top: var(--fluid-space-xs);
  margin-bottom: var(--fluid-space-xs);
  color: var(--darkest);
  font-size: var(--l);
  font-weight: var(--fw-medium);
}

h4,
h5,
h6 {
  padding-top: var(--fluid-space-xs);
  margin-bottom: var(--half);
  font-size: var(--m);
}

h5,
h6 {
  padding-top: var(--xs);
}

p,
div {
  hyphens: auto;

  & > mark,
  & > em {
    background-color: transparent;
    font-weight: var(--fw-medium);
  }
}

a {
  color: var(--darker);
  text-decoration-color:  var(--color-accent);
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  transition: background-color var(--tr-fast);

  &:visited{
    color: var(--dark);
  }

  &:hover{
    background-color: var(--darken);
    color: var(--darkest);
    text-decoration-style: solid;
  }
}

small {
  font-size: 80%;
  opacity: var(--op-medium);
}

p, ul, blockquote {
  margin-bottom: 1%;
}

p + h2,
p + h3,
p + h4,
ul + h2,
ul + h3,
ul + h4{
  margin-top: var(--fluid-space-s);
}

p + h5,
p + h6,
ul + h5,
ul + h6{
  margin-top: var(--half);
}

hr{
  margin-top: var(--fluid-space-l);
  margin-bottom: var(--fluid-space-l);
}



/* Blockquote
############################################################################ */

blockquote {
  padding: var(--s) var(--s) var(--quat) var(--s);
  border-left: solid var(--border-width-m) var(--mi-lila);
  margin-bottom: var(--fluid-space-m);
  background-color: var(--darken);
}


/* Einrückung und Headlines
############################################################################ */

/* .content{
  & > *:not(h1,h2,h3, h4){
    margin-left: var(--fluid-space-m);
  }

} */