/* Button
############################################################################ */

.button{
  display: inline-block;
  padding: var(--s);
  border-radius: var(--border-radius-s);
  margin-left: var(--m);
  background-color: var(--color-accent);
  color: var(--lightest);
  font-size: var(--m);
  transition: transform var(--tr-fast) ease-in-out;
  vertical-align: top;

  &:hover{
    transform: rotate(90deg);
  }

  i{
    display: flex;
    width: var(--m);
    height: var(--m);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
}

/* CTA
############################################################################ */

.cta{
  display: inline-block;
  padding: var(--s);
  border-radius: var(--border-radius-s);
  background-color: var(--color-accent);
  color: var(--lightest);
  font-size: var(--m);
  transition: transform var(--tr-fast) ease-in-out;
  vertical-align: top;

  i{
    display: flex;
    width: var(--m);
    height: var(--m);
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
}