/* Button
############################################################################ */

.button{
  background-color: var(--color-accent);
  padding: var(--s);
  font-size: var(--m);
  display: inline-block;
  color: var(--lightest);
  border-radius: var(--border-radius-s);
  margin-left: var(--m);
  vertical-align: top;

  transition: transform var(--tr-fast) ease-in-out;

  &:hover{
    transform: rotate(90deg);
  }

  i{
    width: var(--m);
    height: var(--m);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }
}