// Icons
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizelegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;

  &--s {
    font-size: var(--s);
    line-height: var(--s);
  }

  &--m {
    font-size: var(--m);
    line-height: var(--m);
  }

  &--l {
    font-size: var(--l);
    line-height: var(--l);
  }

  &--xl {
    font-size: var(--xl);
    line-height: var(--xl);
  }

  &.md-dark { color: var(--lightest); }
  &.md-light { color: var(--darkest); }

  &--inline {
    margin-right: var(--xs);
    font-size: var(--m);
  }

  &::before {
    content: attr(data-icon);
  }
}
