@media print {

  :root {
    --bfs: 10pt;
  }

  #scroll-to-top,
  .main-footer,
  .main-header
  {
    visibility: hidden;
  }
  
  @page { margin: 2cm 2cm 3cm 3cm }

  h1, h2 {
    page-break-before: always;
  }
}