@media print {
  :root {
    --bfs: 11pt;
  }

  #scroll-to-top,
  .main-footer,
  .main-header
  {
    visibility: hidden;
  }
  
  @page { margin: 2cm 1.5cm 1.5cm 3cm }

  h1, h2 {
    page-break-before: always;
  }
}