/* Avatars
############################################################################ */

.avatars{
  display: flex;
  gap: var(--xs);

  img{
    width: var(--max-width-image-s);
    height: var(--max-width-image-s);
    border-radius: 50%;
    background-color: var(--darkest);
    object-fit: cover;
    
    &[src*="avatar"]{
      background-color: var(--light);
    }
  }
}