/* Avatars
############################################################################ */

.avatars{

  display: flex;
  gap: var(--xs);


  img{
    width: var(--max-width-image-s);
    height: var(--max-width-image-s);
    object-fit: cover;
    border-radius: 50%;
    border: solid var(--border-width-m) var(--darken);
  }
}