/* stylelint-disable custom-property-pattern */

/* Content Cards 
############################################################################ */


ul.content-card-overview{
  display: grid;
  padding-top: var(--fluid-space-m);
  padding-bottom: var(--fluid-space-m);
  gap: var(--fluid-space-xs);

  @media screen and (width >= 120ch){
    grid-template-columns: repeat(auto-fill,minmax(var(--max-width-card),1fr));
  }
}

ul.content-card-overview + ul.content-card-overview {
  padding-top: 0;
}

.content-card{
  &-item{
    height: 100%;
    padding: var(--fluid-space-xs) var(--fluid-space-xs) var(--fluid-space-s) var(--fluid-space-xs);
    padding-right: calc(var(--fluid-space-xs) * 2);
    border-left: solid var(--border-width-m) var(--color-accent);
    background-color: var(--lightest);
    box-shadow: var(--shadow-l-light);
    line-height: var(--lh-tight);
    transition: all var(--tr-fast);

    &:hover{
      padding-right: var(--fluid-space-xs);
      padding-left: var(--fluid-space-s);
      border-width: var(--border-width-l);
      box-shadow: var(--shadow-l);

      * {
        text-decoration-color:  var(--color-accent);
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
      }
    }

    a {
      display: block;
      text-decoration-color: transparent;

      &:hover{
        background-color: transparent;
      }

      h3{
        padding-top: 0;
        margin-bottom: var(--half);
        font-size: var(--m);
      }
      
      p{
        margin-bottom: 0;
        
      }
    }
  }
}

ul.content-card-overview.stakeholder{
  .content-card-item{
    border-color: var(--mi-lila);
  }
}

ul.content-card-overview.misc{
  .content-card-item{
    border-color: var(--mi-blau);
  }
}
