/* Comments
############################################################################ */

.comments{

  &-count{
    font-weight: var(--fw-normal);
    display: inline-block;
    padding-left: var(--quat);
  }
}

.comment{

  &-head{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-bottom: var(--fluid-space-s);
    
      img{
        display: inline-block;
        width: 4rem;
        overflow: hidden;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: var(--s);
      }
  }

  &-body{
    padding-bottom: var(--fluid-space-m);
  }

}

