/* Comments
############################################################################ */

.comments{
  &-count{
    display: inline-block;
    padding-left: var(--quat);
    font-weight: var(--fw-normal);
  }
}

.comment{
  &-head{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding-bottom: var(--fluid-space-s);
    
      img{
        display: inline-block;
        overflow: hidden;
        width: 4rem;
        border-radius: 50%;
        margin-right: var(--s);
        aspect-ratio: 1/1;
      }
  }

  &-body{
    padding-bottom: var(--fluid-space-m);
  }

}

