/* Kompetenz Liste
############################################################################ */



.competence-block {
  max-width: var(--max-width-table);
  padding-top: var(--half);
  padding-bottom: var(--fluid-space-m);
  border-top: solid var(--border-width-m) var(--darkest);

  @media only screen and (width >= 42em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    max-width: 66%;
    margin-top: 0;
    margin-bottom: var(--fluid-space-l);
    font-size: var(--m);
  }

  h4{
    margin-bottom: var(--fluid-space-s);
  }

  .competence-bereiche {
    &>li {
      position: relative;
      padding-top: var(--quat);
      padding-bottom: var(--m);
      mix-blend-mode: darken;

      .score-indicator-group-wrap {
        position: relative;
        width: 99%;
        height: 0;
        border-top: solid var(--border-width-s) var(--darken);
        margin-left: -100%;

        .score-indicator-group {
          position: relative;
          width: 100%;
          height: var(--border-width-l);
          border-left: solid var(--border-width-s) var(--darkest);
          margin-left: 50%;

          span.score-value-indicator {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: var(--border-width-l);

            &.braucht {
              background-color: var(--darken-strong);
            }

            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }

    &[class*="indicate-as-dux"] {
      span.score-value-indicator.liefert {
        background-color: var(--handlungsfeld-dux);
      }
    }

    &[class*="indicate-as-dev"] {
      span.score-value-indicator.liefert {
        background-color: var(--handlungsfeld-dev);
      }
    }

    &[class*="indicate-as-exa"] {
      span.score-value-indicator.liefert {
        background-color: var(--handlungsfeld-exa);
      }
    }

    &[class*="indicate-as-crea"] {
      span.score-value-indicator.liefert {
        background-color: var(--handlungsfeld-crea);
      }
    }

    &[class*="indicate-as-indi"] {
      span.score-value-indicator.liefert {
        background-color: var(--handlungsfeld-indi);
      }
    }
  }

  .single-competence-list {
    &>li {
      padding-bottom: var(--s);

      p {
        margin-top: calc(var(--half) * -1);
        margin-bottom: 0;
      }
    }
  }

  .competence-module-list{
    margin-top: var(--s);
    margin-bottom: var(--fluid-space-s);

    li{
      position: relative;
      width: 100%;
      margin-bottom: var(--half);

      a{
        position: relative;
        z-index: 10;
      }
    }
  }
}