/* Content Meta
############################################################################ */

ul.content-meta{
  
  margin-bottom: var(--m);
  border-bottom: dotted var(--border-width-m) var(--darken);
  padding-bottom: var(--m);
}

