/* Content Meta
############################################################################ */

ul.content-meta{
  
  margin-bottom: var(--m);
  border-bottom: dotted var(--border-width-m) var(--darken);
  padding-bottom: var(--m);

  & > li{
    margin-left: 0;

    &:before{
      content: "";
    }
  }

  .content-meta__comments li{
    padding-left: 1ch;
  }
}

