/* Content Meta
############################################################################ */

ul.content-meta{
  position: relative;
  padding-bottom: var(--m);
  border-bottom: dotted var(--border-width-m) var(--darken);
  margin-bottom: var(--m);

  & > li{
    padding-right: var(--fluid-space-l);
    margin-left: 0;

    &::before{
      content: "";
    }
  }

  .content-meta__comments li{
    padding-left: 1ch;
  }

  .animated-icon {
    position: absolute;
    top: calc(var(--m) * -1);
    right: 0;
    max-width: var(--fluid-space-l);
    max-height: var(--fluid-space-l);
    transition: all var(--tr-slow);

    &:hover{
      transform: scale(10);
    }
  }
}

