/* Footer
############################################################################ */

.main-footer{
  border-top: solid var(--mi-lila) var(--border-width-l);
  background-color: var(--darken);

  nav{
    flex-grow: 2;
    padding: var(--m) var(--fluid-space-m) var(--xl);
  }

  .info{
    padding: var(--m) var(--fluid-space-m) var(--xl);
    margin-bottom: 0;
    background-color: var(--darken);
  }

  .footer-info{
    padding: var(--m) var(--fluid-space-m) var(--xl);
    font-size: var(--s);
  }

  @media screen and (width >= 160ch){
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
}