/* Footer
############################################################################ */

.main-footer{
  border-top: solid var(--mi-lila) var(--border-width-l);
  background-color: var(--darken);

  nav{
    padding: var(--m) var(--fluid-space-m) var(--xl);
  }

  .info{
    padding: var(--m) var(--fluid-space-m) var(--xl);
    margin-bottom: 0;
    background-color: var(--darken);
  }
}