/* Main Header
###########################################################################  */

.main-header {
  padding: var(--xs) var(--fluid-space-m);
  margin: 0;
  background-color: var(--darken);
  z-index: 100;
  
  ul{
    margin: 0;
    padding: 0;
    
    li{
      font-size: var(--l);
      margin-left: 0;
      &::before{
        content: "";
      }
    }
  }
}

/* Content Header
###########################################################################  */

.content-header{
  margin-bottom: var(--fluid-space-l);
  padding-bottom: var(--fluid-space-s);
}
