/* Main Header
###########################################################################  */

.main-header {
  z-index: 100;
  padding: var(--xs) var(--fluid-space-m);
  margin: 0;
  background-color: var(--darken);
  
  ul{
    padding: 0;
    margin: 0;
    
    li{
      margin-left: 0;
      font-size: var(--l);

      &::before{
        content: "";
      }
    }
  }
}

/* Content Header
###########################################################################  */

.content-header{
  padding-bottom: var(--fluid-space-s);
  margin-bottom: var(--fluid-space-l);
}
