/* Quotes
############################################################################ */

.marginal-quote{
  display: none;

  cite{
    color: var(--dark);
    font-style: normal;
  }

  p{
    color: var(--mi-lila);
    font-size: var(--xxl);
    font-style: italic;
    line-height: var(--lh-normal);
  }
}

