/* Tables
###########################################################################  */

table {
  th {
    text-align: left;
  }

  th,
  td {
    padding: var(--xs);
  }

  tbody {

    tr td,
    tr th {
      border-top: solid var(--border-width-s) var(--darken);
    }
  }

  &.is-narrow {

    th,
    td {
      padding: var(--quat);
    }
  }
}

/* Table Module List
###########################################################################  */

.table-module-list {

  * {
    line-height: var(--lh-semi-tight);
    vertical-align: top;
  }

  .module-title {
    font-weight: var(--fw-light);
    margin-bottom: var(--quat);
    font-size: var(--m);
  }

  .module-exam {
    margin-bottom: 0;
  }

  p {
    margin-bottom: var(--half);
  }

  .is-small {
    font-size: smaller;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }
}

/* Table Curriculum
###########################################################################  */

.table-curriculum {
  
  width: 100%;

  thead {
    background-color: var(--darkest);

    * {
      color: var(--lighter);
    }
  }

  .unit {
    background-color: var(--darker);

    * {
      color: var(--lighter);
    }
  }

  th {
    font-weight: var(--fw-normal);
  }

  td {
    text-align: center;
  }

  .is-fs-1,
  .is-fs-3,
  .is-fs-5 {
    background-color: var(--darken);
  }


  th.is-vertical {


    /* Something you can count on */
    height: 30ch;
    white-space: nowrap;

    & > div {
      transform: 
        /* Magic Numbers */
        translate(0, 11ch)
        /* 45 is really 360 - 45 */
        rotate(-90deg);
      width: 30px;

      & > span {
        
        padding: 5px 10px;
      }
    }
  }
}


/* Table Modul Matrix
###########################################################################  */

.table-modulmatrix {
  
  min-width: 150ch;
  line-height: var(--lh-tight);
  border-spacing: 0;
  
  thead {
    background-color: var(--lightest);
    position: sticky;
    top: 0;
    z-index: 1;

    * {
      color: var(--darkest);
    }

    tr:last-child{
      th{
        border-bottom: solid var(--border-width-m) var(--mi-lila);
      }
    }

  }

  tbody{
    z-index: 0;
  }

  th {
    font-weight: var(--fw-normal);
    border-left: dotted var(--border-width-s) var(--dark);
  }

  th, td{
    border-top: solid var(--border-width-s) var(--darken);

    &:first-child{
      border-left: none;
    }
  }

  td {
    text-align: center;
    border-left: dotted var(--border-width-s) var(--dark);
    position: relative;
    height: 2em;
  }

  th.is-vertical {

    position: relative;
    /* Something you can count on */
    height: 30ch;
    width: 3ch;
    white-space: nowrap;

    & > div {
      position: absolute;
      
      left: 0;
      bottom: 0;
      transform: 

        rotate(-90deg);
      width: 30px;

      & > span {
        
        padding: 5px 10px;
      }
    }
  }

  th.module-name{
    text-align: left;
    width: 30ch;
    
  }

  .is-checked{
    background-color: color-mix(in srgb, var(--mi-gruen), var(--lightest) 80%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &::before{
      line-height: 2ch;
    }
  }

  tr:nth-child(even) {
    background-color: var(--lighten);
  }
}