/* Tags
############################################################################ */

.tag {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: var(--quat) var(--quat);
  border: solid var(--border-width-s) var(--color-accent);
  border-radius: var(--border-radius-m);
  margin: 0 var(--quat) var(--half) 0;
  color: var(--darkest);
  line-height: var(--lh-tight);

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    color: var(--lightest);

    &::before {
      background-color: var(--darkest);
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    margin-left: 0;
    background-color: var(--color-accent);
    content: "";
    opacity: 0.1;
  }
}