/* Hero Text
############################################################################ */

.hero-text{
  font-size: var(--l);
  line-height: var(--lh-normal);
  max-width: var(--max-width-content);
}