/* Hero Text
############################################################################ */

.hero-text{
  max-width: var(--max-width-content);
  font-size: var(--l);
  line-height: var(--lh-normal);
}


/* Intro Text
############################################################################ */

.intro-text{
  max-width: var(--max-width-content);
  font-weight: var(--fw-medium);
  line-height: var(--lh-normal);
}