---
layout: default
---

{% include /functions/resolve-names.html modulverantwortlich=page.modulverantwortlich %}

<main>
	<section class="section module-core-data">

		<header>
			<h1>{{ page.title }}{% include edit.html %}</h1>
		</header>

		<dl>

			{% assign check = page.modulverantwortlich|strip_newlines %}
			{% if check != "" %}
			<dt>Modulverantwortlich</dt>
			<dd>{{modulverantwortliche}}</dd>
			{% endif %}

			{% assign check = page.verantwortlich|strip_newlines %}
			{% if check != "" %}
			<dt>Verantwortlich</dt>
			<dd>{{page.verantwortlich}}</dd>
			{% endif %}


			{% assign check = page.kuerzel|strip_newlines %}
			{% if check != "" %}
			<dt>Kürzel</dt>
			<dd>{{page.kuerzel}}</dd>

			{% endif %}

			{% assign check = page.untertitel|strip_newlines %}
			{% if check != "" %}
			<dt>Untertitel</dt>
			<dd>{{page.untertitel}}</dd>

			{% endif %}

			{% assign check = page.studiensemester|strip_newlines %}
			{% if check != "" %}
			<dt>Studiensemester</dt>
			<dd>{{page.studiensemester}}</dd>

			{% endif %}

			{% assign check = page.sprache|strip_newlines %}
			{% if check != "" %}
			<dt>Sprache</dt>
			<dd>{{page.sprache}}</dd>

			{% endif %}

			{% assign check = page.zuordnung-zum-curriculum|strip_newlines %}
			{% if check != "" %}
			<dt>Zuordnung zum Curriculum</dt>
			<dd>{{page.zuordnung-zum-curriculum}}</dd>

			{% endif %}

			{% assign check = page.lehrform-sws|strip_newlines %}
			{% if check != "" %}
			<dt>Lehrform/SWS</dt>
			<dd>{{page.lehrform-sws}}</dd>

			{% endif %}

			{% assign check = page.arbeitsaufwand|strip_newlines %}
			{% if check != "" %}
			<dt>Arbeitsaufwand</dt>
			<dd>{{page.arbeitsaufwand}}</dd>

			{% endif %}

			{% assign check = page.kreditpunkte|strip_newlines %}
			{% if check != "" %}
			<dt>Kreditpunkte</dt>
			<dd>{{page.kreditpunkte}}</dd>

			{% endif %}

			{% assign check = page.voraussetzungen-nach-pruefungsordnung|strip_newlines %}
			{% if check != "" %}
			<dt>Voraussetzungen nach Prüfungsordnung</dt>
			<dd>{{page.voraussetzungen-nach-pruefungsordnung}}</dd>

			{% endif %}

			{% assign check = page.empfohlene-voraussetzungen|strip_newlines %}
			{% if check != "" %}
			<dt>Empfohlene Voraussetzungen</dt>
			<dd>{{page.empfohlene-voraussetzungen}}</dd>
			{% endif %}

			{% assign check = page.infourl|strip_newlines %}
			{% if check != "" %}
			<dt>Weitere Informationen zum Modul</dt>
			<dd><a href="{{page.infourl}}">{{page.infourl}}</a></dd>
			{% endif %}

			{% assign check = page.studienleistungen|strip_newlines %}
			{% if check != "" %}
			<dt class="long-item">Studienleistungen</dt>
			<dd class="long-item">
				{% include /functions/format-studienleistungen.html studienleistungen=page.studienleistungen %}
				{{studienleistungen_html}}
			</dd>
			{% endif %}

		</dl>
	</section>

	<section class="section content">
		{{ content }}

		{% assign check = page.kuerzel|strip_newlines %}
		{% if check != "" %}
		{% include /functions/list-children.html parent=check %}
		{% endif %}

		{% assign check = page.parent|strip_newlines %}
		{% if check != "" %}
		{% assign parentModules = site.modulbeschreibungen-bachelor-bpo4|where:"kuerzel",check|sort:'title' %}
		{% assign parentModul = parentModules|first %}
		<hr>
		<p>Dies ist ein Teilmodul des Moduls <a href="{{site.baseurl}}{{parentModul.url}}">{{parentModul.title}}</a>.</p>

		{% endif %}

	</section>

</main>