body{

  display: flex;
  flex-direction: column;

  & > *:not(.main-footer, .main-header) {
    margin: var(--fluid-space-m);
  }

  main{
    flex-grow: 2;
  }
}

main, aside{
  padding-bottom: var(--fluid-space-l);
}

section{
  padding-bottom: var(--fluid-space-m);
}