body{

  display: flex;
  flex-direction: column;

  & > *:not(.main-footer, .main-header, #blueimp-gallery) {
    margin: var(--fluid-space-m);
  }

  main{
    flex-grow: 2;
  }
}

main, aside{
  padding-bottom: var(--fluid-space-l);
}

section{
  padding-bottom: var(--fluid-space-m);

  &.is-loose{
    padding-bottom: var(--fluid-space-xl);
  }
}

table{
  max-width: var(--max-width-table);
}

/* Aside
############################################################################ */

@media screen and (min-width: 180ch){
  main:has(aside){
    display: grid;
    gap: var(--fluid-space-m);
    grid-template-columns: var(--max-width-navigation) 1fr;

    aside{
      padding-right: var(--xl);
      font-size: var(--s);
      nav{
        position: sticky;
        top: calc(var(--fluid-space-l) * 1.5);
      }
    }
  }
}