@import 'global/reset';
@import 'global/fonts';
@import 'global/icons';
@import 'global/variables';
@import 'global/base';
@import 'global/blueprints';

@import 'utils';
@import 'composition';

@import 'components/header';
@import 'components/footer';
@import 'components/comments';
@import 'components/tables';
@import 'components/typo';
@import 'components/figures';

@import 'layouts/content-blocks';
@import 'layouts/article';
@import 'layouts/modulbeschreibung';
@import 'layouts/curriculum';
@import 'layouts/people-list';
@import 'layouts/insights';
