/* Vertikal zentriert
############################################################################ */

.is-vertical-centered {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* No Wrap
############################################################################ */

.no-wrap {
  white-space: nowrap;
}

/* Seperator
############################################################################ */

.has-seperator {

  padding-top: 0;

  &::before {
    display: block;
    width: 10%;
    border-top: solid var(--border-width-l) var(--mi-blau);
    margin-bottom: var(--fluid-space-m);
    content: "";
  }
}

/* Handliungsfelder
############################################################################ */

.is-dev{
  background-color: var(--mi-blau);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-dux{
  background-color: var(--mi-pink);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-crea{
  background-color: var(--mi-gruen);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-exa{
  background-color: var(--mi-lila);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-indi{
  background-color: var(--mi-orange);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

/* Status
############################################################################ */

.status{
  color: var(--color-wip);
  font-weight: var(--fw-bold);
  &:hover{
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.is-tbd{
  background-color: hsla(0, 100%, 80%, 0.5);
  border-left: solid var(--border-width-l) hsla(0, 100%, 50%, 1);
  padding-left: var(--fluid-space-s);
}

.is-wip{
  background-color: hsla(0, 100%, 80%, 0.3);
  border-left: solid var(--border-width-l) hsla(0, 100%, 80%, 1);
  padding-left: var(--fluid-space-s);
}

.is-rfreview{
  background-color: hsla(60, 100%, 80%, 0.5);
  border-left: solid var(--border-width-l) hsla(60, 100%, 50%, 1);
  padding-left: var(--fluid-space-s);
}

.is-review{
  background-color: hsla(60, 100%, 80%, 0.3);
  border-left: solid var(--border-width-l) hsla(60, 100%, 40%, 1);
  padding-left: var(--fluid-space-s);
}

.is-refactor{
  background-color: hsla(320, 100%, 80%, 0.3);
  border-left: solid var(--border-width-l) hsla(320, 100%, 40%, 1);
  padding-left: var(--fluid-space-s);
}

/* Has Interaction
############################################################################ */

.has-interaction{
  color: var(--color-accent);
  &:hover{
    cursor: pointer;
  }
}


/* Small Text
############################################################################ */

.is-small{
  font-size: small;
}