/* Vertikal zentriert
############################################################################ */

.is-vertical-centered {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* No Wrap
############################################################################ */

.no-wrap {
    white-space: nowrap;
}

/* Seperator
############################################################################ */

.has-seperator {
    padding-top: 0;

    &::before {
        display: block;
        width: 10%;
        border-top: solid var(--border-width-l) var(--mi-blau);
        margin-top: var(--fluid-space-l);
        content: "";
    }
}

/* Handliungsfelder
############################################################################ */

.is-dev{
    display: inline-block;
    padding-right: var(--quat);
    padding-left: var(--quat);
    background-color: var(--handlungsfeld-dev);
    color: var(--lightest);
}

.is-dux{
    display: inline-block;
    padding-right: var(--quat);
    padding-left: var(--quat);
    background-color: var(--handlungsfeld-dux);
    color: var(--lightest);
}

.is-crea{
    display: inline-block;
    padding-right: var(--quat);
    padding-left: var(--quat);
    background-color: var(--handlungsfeld-crea);
    color: var(--lightest);
}

.is-exa{
    display: inline-block;
    padding-right: var(--quat);
    padding-left: var(--quat);
    background-color: var(--handlungsfeld-exa);
    color: var(--lightest);
}

.is-indi{
    display: inline-block;
    padding-right: var(--quat);
    padding-left: var(--quat);
    background-color: var(--handlungsfeld-indi);
    color: var(--lightest);
}




.is-dev-color{
    color: var(--handlungsfeld-dev);
}

.is-dux-color{
    color: var(--handlungsfeld-dux);
}

.is-crea-color{
    color: var(--handlungsfeld-crea);
}

.is-exa-color{
    color: var(--handlungsfeld-exa);
}

.is-indi-color{
    color: var(--handlungsfeld-indi);
}


/* Status
############################################################################ */

.status{
    color: var(--color-wip);
    font-weight: var(--fw-bold);

    &:hover{
        cursor: pointer;
        transform: rotate(90deg);
    }
}

.composition{
    padding-bottom: var(--fluid-space-l) !important;
    margin-top: var(--fluid-space-m) !important;
}

.is-tbd{
    padding-left: var(--fluid-space-s);
    border-left: solid var(--border-width-l) hsl(0deg 100% 50% / 100%);
    background-color: hsl(0deg 100% 80% / 50%);

    @extend .composition;
}

.is-wip{
    padding-left: var(--fluid-space-s);
    border-left: solid var(--border-width-l) hsl(0deg 100% 80% / 100%);
    background-color: hsl(0deg 100% 80% / 30%);

    @extend .composition;
}

.is-rfreview{
    padding-left: var(--fluid-space-s);
    border-left: solid var(--border-width-l) hsl(60deg 100% 50% / 100%);
    background-color: hsl(60deg 100% 80% / 50%);

    @extend .composition;
}

.is-review{
    padding-left: var(--fluid-space-s);
    border-left: solid var(--border-width-l) hsl(60deg 100% 40% / 100%);
    background-color: hsl(60deg 100% 80% / 30%);

    @extend .composition;
}

.is-refactor{
    padding-left: var(--fluid-space-s);
    border-left: solid var(--border-width-l) hsl(320deg 100% 40% / 100%);
    background-color: hsl(320deg 100% 80% / 30%);

    @extend .composition;
}

/* Has Interaction
############################################################################ */

.has-interaction{
    color: var(--color-accent);

    &:hover{
        cursor: pointer;
    }
}

/* Text Tweaks
############################################################################ */

.is-small{
    font-size: small;
}

.is-less-important{
    font-weight: var(--fw-normal);
}

.is-centered{
    text-align: center;
}

/* Sticky
############################################################################ */

.is-sticky{
    position: sticky;
    top: 0;
} 

/* Size Indicator
############################################################################ */

[data-js-size-indicator-large],
[data-js-size-indicator-small]{
    display: inline;
    height: 0;
    margin: 0 !important;
}

[data-js-size-indicator-large]{
    display: none;
}

@media screen and (width >= 160ch){
    [data-js-size-indicator-small]{
        display: none;
    }

    [data-js-size-indicator-large]{
        display: inline;
    }
}