@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
}
@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
}
@font-face {
  font-family: MaterialIcons;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizelegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
.icon--s {
  font-size: var(--s);
  line-height: var(--s);
}
.icon--m {
  font-size: var(--m);
  line-height: var(--m);
}
.icon--l {
  font-size: var(--l);
  line-height: var(--l);
}
.icon--xl {
  font-size: var(--xl);
  line-height: var(--xl);
}
.icon.md-dark {
  color: var(--lightest);
}
.icon.md-light {
  color: var(--darkest);
}
.icon--inline {
  margin-right: var(--xs);
  transition: all var(--tr-fast);
  transform: scale(0.7);
  vertical-align: text-bottom;
}
.icon--inline:hover {
  transform: scale(1);
}
.icon::before {
  content: attr(data-icon);
}

:root {
  --bfs: clamp(1rem, calc(0.5rem + 0.5vw), 2.5rem);
  --half: calc(var(--bfs) / 2);
  --quat: calc(var(--bfs) / 4);
  --xxs: calc(var(--bfs) * 0.4);
  --xs: calc(var(--bfs) * 0.6);
  --s: calc(var(--bfs) * 0.8);
  --m: calc(var(--bfs) * 1);
  --l: calc(var(--bfs) * 1.3);
  --xl: calc(var(--bfs) * 1.8);
  --xxl: calc(var(--bfs) * 2.5);
  --xxxl: calc(var(--bfs) * 3);
  --xxxxl: calc(var(--bfs) * 4);
  --fluid-space-s: calc(var(--s) + 0.5vw);
  --fluid-space-m: calc(var(--m) + 1vw);
  --fluid-space-l: calc(var(--l) + 1.5vw);
  --max-width-content: calc(var(--m) * 40);
  --max-width-table: calc(var(--m) * 80);
  --max-width-card: calc(var(--m) * 20);
  --mi-lila: #9313ce;
  --mi-gruen: #00ad2f;
  --mi-orange: #F58700;
  --mi-pink: #d16;
  --mi-blau: #4952e1;
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --lighten: rgb(255 255 255 / 50%);
  --lighten-strong: rgb(255 255 255 / 80%);
  --dark: rgba(0,0,0,0.6);
  --darker: rgba(0,0,0,0.8);
  --darkest: rgba(0,0,0,1);
  --darken: rgb(0 0 0 / 10%);
  --color-text: var(--darker);
  --color-headline: var(--dark);
  --color-accent: var(--mi-pink);
  --color-highlight: var(--mi-lila);
  --color-decoration: var(--dark);
  --color-background: var(--lighter);
  --color-wip: var(--darker);
  --ff-normal: "Atkinson", sans-serif;
  --ff-serif: "Atkinson", serif;
  --ff-code: "Atkinson", monospace;
  --ff-headline: "Atkinson", monospace;
  --ff-icons: "MaterialIcons", serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 140%;
  --lh-tight: 115%;
  --lh-semi-tight: 110%;
  --lh-loose: 150%;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --tr-delay: 1.2s;
  --op-low: 0.4;
  --op-medium: 0.6;
  --shadow-l: 0 0 var(--xs) rgb(0 0 0 / 50%);
  --shadow-xl: var(--half) var(--half) var(--m) rgb(0 0 0 / 30%);
  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 6px;
  --border-radius-s: 3px;
  --border-radius-m: 0.5ch;
}

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
* {
  /* TODO: Zeigen */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-family: var(--ff-headline);
  font-weight: bold;
  hyphens: none;
  line-height: var(--lh-tight);
}

h1 {
  margin-bottom: var(--fluid-space-m);
  font-size: var(--xxl);
}

h2 {
  margin-bottom: var(--fluid-space-m);
  font-size: var(--xl);
}

h3 {
  font-size: var(--l);
  margin-bottom: var(--fluid-space-s);
  color: var(--darkest);
}

h4,
h5,
h6 {
  font-size: var(--m);
  margin-bottom: var(--fluid-space-s);
  color: var(--darkest);
}

p,
div {
  hyphens: auto;
}
p > mark, p > em,
div > mark,
div > em {
  background-color: transparent;
  font-weight: var(--fw-medium);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

small {
  font-size: 80%;
  opacity: var(--op-medium);
}

p, ul, blockquote {
  margin-bottom: var(--m);
}

p + h2,
p + h3,
p + h4,
ul + h2,
ul + h3,
ul + h4 {
  margin-top: var(--fluid-space-m);
}

hr {
  margin-top: var(--fluid-space-l);
  margin-bottom: var(--fluid-space-l);
}

/* Lists
############################################################################ */
ul {
  padding-left: 0;
}
ul > li {
  display: block;
  margin-left: 1.5ch;
}
ul > li::before {
  color: var(--dark);
  content: "»";
  display: inline-block;
  width: 1.5ch;
  margin-left: -1.5ch;
}
ul > li + li {
  margin-top: var(--quat);
}

ul.is-tight li + li {
  margin-top: 0;
}

/* Blockquote
############################################################################ */
blockquote {
  padding-left: var(--fluid-space-s);
  border-left: solid var(--border-width-l) var(--light);
  margin-bottom: var(--fluid-space-m);
}

/* Button
############################################################################ */
.button {
  background-color: var(--color-accent);
  padding: var(--s);
  font-size: var(--m);
  display: inline-block;
  color: var(--lightest);
  border-radius: var(--border-radius-s);
  margin-left: var(--m);
  vertical-align: top;
  transition: transform var(--tr-fast) ease-in-out;
}
.button:hover {
  transform: rotate(90deg);
}
.button i {
  width: var(--m);
  height: var(--m);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

/* Vertikal zentriert
############################################################################ */
.is-vertical-centered {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* No Wrap
############################################################################ */
.no-wrap {
  white-space: nowrap;
}

/* Seperator
############################################################################ */
.has-seperator {
  padding-top: 0;
}
.has-seperator::before {
  display: block;
  width: 10%;
  border-top: solid var(--border-width-l) var(--mi-blau);
  margin-bottom: var(--fluid-space-m);
  content: "";
}

/* Handliungsfelder
############################################################################ */
.is-dev {
  background-color: var(--mi-blau);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-dux {
  background-color: var(--mi-pink);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-crea {
  background-color: var(--mi-gruen);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-exa {
  background-color: var(--mi-lila);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

.is-indi {
  background-color: var(--mi-orange);
  color: var(--lightest);
  display: inline-block;
  padding-left: var(--quat);
  padding-right: var(--quat);
}

/* Status
############################################################################ */
.status {
  color: var(--color-wip);
  font-weight: var(--fw-bold);
}
.status:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

/* Has Interaction
############################################################################ */
.has-interaction {
  color: var(--color-accent);
}
.has-interaction:hover {
  cursor: pointer;
}

/* Small Text
############################################################################ */
.is-small {
  font-size: small;
}

body {
  display: flex;
  flex-direction: column;
}
body > *:not(.main-footer, .main-header) {
  margin: var(--fluid-space-m);
}
body main {
  flex-grow: 2;
}

main, aside {
  padding-bottom: var(--fluid-space-l);
}

section {
  padding-bottom: var(--fluid-space-m);
}

table {
  max-width: var(--max-width-table);
}

/* Main Header
###########################################################################  */
.main-header {
  position: sticky;
  top: 0;
  padding: var(--xs) var(--fluid-space-m);
  margin: 0;
  background-color: var(--darkest);
  z-index: 100;
}
.main-header ul {
  margin: 0;
  padding: 0;
}
.main-header ul li {
  font-size: var(--l);
}
.main-header ul li::before {
  content: "";
}

/* Footer
############################################################################ */
.main-footer {
  background-color: var(--darken);
  border-top: solid var(--mi-lila) var(--border-width-l);
}
.main-footer nav {
  padding: var(--m) var(--fluid-space-m) var(--xl);
}
.main-footer .info {
  padding: var(--m) var(--fluid-space-m) var(--xl);
  background-color: var(--darken);
  margin-bottom: 0;
}

/* Comments
############################################################################ */
.comments-count {
  font-weight: var(--fw-normal);
  display: inline-block;
  padding-left: var(--quat);
}

.comment-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: var(--fluid-space-s);
}
.comment-head img {
  display: inline-block;
  width: 4rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: var(--s);
}
.comment-body {
  padding-bottom: var(--fluid-space-m);
}

/* Tables
###########################################################################  */
table th {
  text-align: left;
}
table th, table td {
  padding: var(--xs);
}
table tbody tr td,
table tbody tr th {
  border-top: solid var(--border-width-s) var(--darken);
}
table.is-narrow th, table.is-narrow td {
  padding: var(--quat);
}

/* Table Module List
###########################################################################  */
.table-module-list * {
  line-height: var(--lh-semi-tight);
  vertical-align: top;
}
.table-module-list .module-title {
  font-weight: var(--fw-light);
  margin-bottom: var(--quat);
  font-size: var(--m);
}
.table-module-list .module-exam {
  margin-bottom: 0;
}
.table-module-list p {
  margin-bottom: var(--half);
}
.table-module-list .is-small {
  font-size: smaller;
}
.table-module-list th:first-child, .table-module-list td:first-child {
  padding-left: 0;
}

/* Table Curriculum
###########################################################################  */
.table-curriculum {
  width: 100%;
}
.table-curriculum thead {
  background-color: var(--darkest);
}
.table-curriculum thead * {
  color: var(--lighter);
}
.table-curriculum .unit {
  background-color: var(--darker);
}
.table-curriculum .unit * {
  color: var(--lighter);
}
.table-curriculum th {
  font-weight: var(--fw-normal);
}
.table-curriculum td {
  text-align: center;
}
.table-curriculum .is-fs-1,
.table-curriculum .is-fs-3,
.table-curriculum .is-fs-5 {
  background-color: var(--darken);
}

/* Title & Subtitle
###########################################################################  */
.title + .subtitle {
  margin-top: calc(var(--fluid-space-m) * -1);
  color: var(--darker);
}

/* Image
############################################################################ */
figure.image figcaption {
  padding: var(--m) 0 var(--xl);
}
figure.image figcaption strong {
  display: block;
}

/* Tags
############################################################################ */
.tag {
  border: solid var(--border-width-s) var(--color-accent);
  display: inline-block;
  margin-right: var(--quat);
  margin-bottom: var(--half);
  margin-left: 0;
  margin-top: 0;
  padding: 0 var(--quat);
  border-radius: var(--border-radius-m);
  position: relative;
  z-index: 1;
  color: var(--darkest);
}
.tag:hover {
  cursor: pointer;
}
.tag.is-active {
  color: var(--lightest);
}
.tag.is-active::before {
  background-color: var(--darkest);
  opacity: 1;
}
.tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  opacity: 0.1;
  z-index: -1;
  margin-left: 0;
  width: 100%;
}

/* Hero Text
############################################################################ */
.hero-text {
  font-size: var(--l);
  line-height: var(--lh-normal);
  max-width: var(--max-width-content);
}

/* Content Blocks
############################################################################ */
.content-blocks section .content {
  padding-top: calc(var(--fluid-space-s) * 1);
  padding-right: var(--fluid-space-s);
  margin-bottom: var(--fluid-space-s);
}
.content-blocks section .content > * {
  max-width: var(--max-width-content);
}

/* Article
############################################################################ */
.article main > *,
.article aside > * {
  max-width: var(--max-width-content);
}
.article aside {
  background-color: var(--darken);
  margin-top: 0;
  padding-top: var(--fluid-space-m);
}
@media screen and (min-width: 60rem) {
  .article {
    display: flex;
    padding-right: 0;
  }
  .article main, .article aside {
    padding-right: var(--fluid-space-m);
    margin-bottom: 0;
    flex-grow: 1;
  }
  .article main {
    width: 80%;
  }
  .article aside {
    font-size: var(--s);
    line-height: var(--lh-normal);
  }
}

/* Modulbeschreibung
############################################################################ */
.modulbeschreibung .content {
  max-width: var(--max-width-content);
}
.modulbeschreibung h2 {
  margin-bottom: var(--s);
}
.modulbeschreibung .module-core-data dl dt {
  display: block;
  float: left;
  min-width: 5ch;
  padding: var(--half) 0;
  font-weight: var(--fw-normal);
  color: var(--color-highlight);
}
.modulbeschreibung .module-core-data dl dt::after {
  content: ":";
  display: inline-block;
  padding-right: var(--half);
}
.modulbeschreibung .module-core-data dl dd {
  border-bottom: solid var(--border-width-s) var(--darken);
  padding: var(--half) 0;
}

/* Curriculum
############################################################################ */
.curriculum .content {
  max-width: var(--max-width-content);
}
.curriculum .next-term th, .curriculum .next-term td {
  border-top: none;
  padding-top: var(--fluid-space-s);
}

/* Personenliste
############################################################################ */
.people-list .module-list h3 {
  font-size: var(--m);
  margin-bottom: 0;
  margin-top: var(--s);
}
.people-list .module-list ul {
  margin-top: var(--quat);
  margin-bottom: var(--quat);
}

/* Insights
############################################################################ */
.insights .insight-meta {
  border-top: solid var(--border-width-l) var(--darker);
  padding-top: var(--m);
}
.insights .filter-group li {
  display: inline-block;
}
.insights .insight-overview {
  display: grid;
  gap: var(--fluid-space-s);
  grid-template-columns: repeat(auto-fill, minmax(var(--max-width-card), 1fr));
}
.insights .insight {
  border-top: solid var(--border-width-l) var(--light);
  margin-left: 0;
  padding-bottom: var(--s);
}
.insights .insight + .insight {
  margin-top: 0;
}
.insights .insight::before {
  content: "";
}
.insights .insight p {
  margin-bottom: var(--l);
  font-size: var(--l);
  font-weight: var(--fw-bold);
}
.insights .insight.is-hidden {
  display: none;
}

/* How might we Fragen
############################################################################ */
.how-might-we .question-overview {
  display: grid;
  gap: var(--fluid-space-s);
  grid-template-columns: repeat(auto-fill, minmax(var(--max-width-card), 1fr));
}
.how-might-we .question {
  border-top: solid var(--border-width-l) var(--light);
  margin-left: 0;
  padding-bottom: var(--s);
}
.how-might-we .question + .insight {
  margin-top: 0;
}
.how-might-we .question::before {
  content: "";
}
.how-might-we .question h3 + p {
  margin-top: calc(var(--m) * -1);
}
.how-might-we .question.is-hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
